<div class="container">
  <h1>My list</h1>
  <%= link_to 'create new list', new_list_path, class: 'btn btn-primary' %>
  <hr>
  <% @lists.each do |list| %>
    <%= link_to "#{list.name} (#{list.movies.count})", list_path(list), class: 'btn btn-info' %></li>
  <% end %>
</div>