.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;

  &:hover {
    background-color: black;
    opacity: .9;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .fas {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.title {
  margin-bottom: 16px;
}
